/*@font-face {
  font-family: 'DIGITAL';
  src: url('http://cssdeck.com/uploads/resources/fonts/digii/DS-DIGII.TTF');
}

html {
  height: 100%;
  background: radial-gradient(#000, #555);
}

.digital-clock {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 200px;
  height: 60px;
  color: #ffffff;
  border: 2px solid #999;
  border-radius: 4px;
  text-align: center;
  font: 50px/60px 'DIGITAL', Helvetica;
  background: linear-gradient(90deg, #000, #555);*/
}
@font-face{
 font-family:'digital-clock-font';
 src: url('ds-digital.woff');
}


body{
    font-family: 'digital-clock-font';
	font-size: 170pt; color: red;
	background-color: black;
	text-align: center;
	margin-top: 70px;
}
main{
	margin: auto;
}
/*	text-align: center;*/
	/*position: fixed;
	top: 100px;
	left: 300px;*/

}
.counter {
	display: none;
/*	display: flex;*/
    align-items: center;
    justify-content: center;
    position: fi;
    left: 300px;
}
.hide{
	visibility:hidden


}
.button {
	font-size:60pt;
	display: inline-block;
	padding: 90px;
}

.container p{
	font-size:30pt;
	display: inline-block;
	padding: 60px;
	position: relative;
	top: -150px;
/*	position: absolute;
	top: 400px;
	left: 100px;*/
}
.result p{
	font-size:30pt;
	display: inline-block;
	padding: 70px;
	position: relative;
	top: 20px;
}