
@font-face{
 font-family:'digital-clock-font';
 src: url('ds-digital.woff');
}


body{
    font-family: 'digital-clock-font';
	font-size: 170pt; color: red;
	background-color: black;
	text-align: center;
	margin-top: 70px;
}
main{
	margin: auto;
}
/*	text-align: center;*/
	/*position: fixed;
	top: 100px;
	left: 300px;*/

}
.counter {
	display: none;
/*	display: flex;*/
    align-items: center;
    justify-content: center;
    position: fi;
    left: 300px;
}
.hide{
	visibility:hidden


}
.button {
	font-size:60pt;
	display: inline-block;
	padding: 90px;
}

.container p{
	font-size:30pt;
	display: inline-block;
	padding: 60px;
	position: relative;
	top: -150px;
/*	position: absolute;
	top: 400px;
	left: 100px;*/
}
.result p{
	font-size:30pt;
	display: inline-block;
	padding: 70px;
	position: relative;
	top: 20px;
}